<h1>Application Name: {{title}}</h1>
<h1>Application Description: Chunyang's fruitstore. Feel free  to shop around and remember to register and login </h1>

<nav>
  <a routerLink = "/fruitlist">Fruitlist for Admin</a><br>
  <a routerLink = '/userlist'>User for Admin</a><br>
  <a routerLink = "/fruitcart">Fruitcart (main application for unauthenticated user)</a><br>
  <a routerLink = "/fruitcart2">Fruitcart (main application for authenticated user)</a><br>
  <a routerLink = '/main'>Login/Registration</a>
</nav>

<router-outlet></router-outlet>
