<ul>
    <li *ngFor = 'let item of items'
      [class.selected] = "item ===selectedItem"
      (click) = "onSelect(item)">
      <div *ngIf = 'item.quantity !== 0'>
        {{item.name}}--popularity index: {{item.sold_quantity}}
      </div>
    </li>
</ul>


<app-fruit-detail [item] = "selectedItem"></app-fruit-detail><br>
  
    <div *ngIf = 'commentlist'>
    <ul >
        <li *ngFor = "let comment of commentlist">
            {{comment.username}}:  {{comment.comment}} - User rating: {{comment.rating}}
        </li>
    </ul>
  </div>