<div *ngIf = "item">
<h2>{{item.name | uppercase}} Details</h2>

<div><span>id: </span> {{item._id}}</div>
<div>
    <label>name: {{item.name}}
          <input [(ngModel)]="item.name" placeholder="name">
    </label>
    
    <label>Price: {{item.price}}
          <input [(ngModel)]="item.price" placeholder="price">
    </label>
    
    <label>Description: {{item.description}}
          <input [(ngModel)]="item.description" placeholder="description">
    </label>
    
    <label>Rating: {{item.rating}}
          <input [(ngModel)]="item.rating" placeholder="rating">
    </label>
</div>
</div>