<ul>
    <li *ngFor = "let item of items"
      [class.selected] = "item ===selectedItem"
      (click) = "onSelect(item)">
      <div *ngIf = 'item.quantity !== 0'>
        {{item.name}}--popularity index: {{item.sold_quantity}}
      </div>
    </li>
</ul>

<div *ngIf = "selectedItem">
<h2>{{selectedItem.name | uppercase}} Details</h2>
<div><span>id: </span> {{selectedItem._id}}</div>
<div>
    <label>name: {{selectedItem.name}}--
    </label>
    <label>Price: {{selectedItem.price}}--
    </label>
    <label>Description: {{selectedItem.description}}--
    </label>
    <label>Rating: {{selectedItem.rating}}--
    </label>
    <label>Quantity: {{selectedItem.quantity}}--
    </label>
    <label>Sold Quantity: {{selectedItem.sold_quantity}}--
    </label><br>
    
    <label>Comment: <input type = 'text' id = 'user_comment'><br>
           Rating: <input  type = 'text' id = 'rating'><br>
           <button (click) = 'addComment()'>Add comment on selected item</button>--
    </label><br>
</div>
</div>

    <div *ngIf = 'commentlist'>
    <ul >
        <li *ngFor = "let comment of commentlist">
            {{comment.username}}:  {{comment.comment}} - User rating: {{comment.rating}}
        </li>
    </ul>
  </div>



